/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #000;
}

/* so that the only scrollbars are those from the website */

html, body {
    height: 100%;
    overflow: hidden;
}

#s1-preparation, #s2-loading, #s3-waiting, #s4-playing, #s5-subject-left {
    height: 100%;
    position: relative;
}

#s2-loading, #s3-waiting, #s4-playing, #s5-subject-left {
    display: none;
}

.info {
    background: rgba(3,166,134,0.75); /* last-resort fallback */
    background: -moz-linear-gradient(top,  rgba(3,166,134,0.75) 70%, rgba(173,255,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(3,166,134,0.75)), color-stop(100%,rgba(173,255,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(3,166,134,0.75) 70%,rgba(173,255,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(3,166,134,0.75) 70%,rgba(173,255,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(3,166,134,0.75) 70%,rgba(173,255,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(3,166,134,0.75) 70%,rgba(173,255,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf03a686', endColorstr='#66adff00',GradientType=0 ); /* IE6-9 */
    border-radius: 1em;
    color: #FAFF40;
    text-shadow: 0 0 20px #000;
    margin: 1.5em auto 0;
    max-width: 800px;
    width: 70%;
    font-size: 0.9em;
    padding: 1em 2em 1.5em;
    border: 4px solid rgb(246, 248, 154);
}

.info h1 {
    color: rgba(255, 243, 131, 1);
    text-shadow: 1px 1px 0 #000;
}

#start {
    display: inline-block;
    font-size: 1.5em;
    background: #B984C6;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    color: rgb(230, 255, 11);
}

#start:hover {
    background: #F93A90;
}

#preparation-frame {
    width: 100%;
    height: 100%;
    border: none;
}

#add-testspace-wrapper {
    position: absolute;
    bottom: 2em;
    right: 3em;
    text-align: center;
    background-color: rgb(3,166,134);
    border-radius: 1em;
    padding: 0.5em;
    color: #FAFF40;
}

#add-testspace-btn {
     background: #B984C6;
     border: 2px solid #adff00;
     border-radius: 1em;
     color: #FAFF40;
     padding: 1.5em 2em;
     text-decoration: none;
     display: block;
     margin-top: 0.2em;
 }

#add-testspace-btn:hover {
    background: #F93A90;
    opacity: 1;
}

#s2-loading, #s3-waiting {
    background-color: rgb(3,166,134);
    color: #FAFF40;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

#adding-testspace {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}

.content-centerer-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}

.whatsapp-send-btn {
    background: #25d366 url(../img/whatsapp-logo.png) left center no-repeat;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0 0.4em 2em;
    background-size: contain;
    width: 10.65em;
}

.fb-send-btn {
    background: #0084ff url(../img/messenger-logo.png) left center no-repeat;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0 0.4em 2em;
    background-size: contain;
    width: 10.65em;
}

#copybox1 input, #copybox2 input {
    background: transparent;
    border: 2px solid #FAFF40;
    border-radius: 1em;
    color: #adff00;
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.5em;
    width: 80%;
}

.loading {
    width: 2em;
    margin-right: 0.2em;
}

#s4-playing {
    background-color: rgb(0, 51, 41);
    color: #FAFF40;
}

.again {
    display: inline-block;
    font-size: 1em;
    background: #B984C6;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    color: #FAFF40;
}

.again:hover {
    background: #F93A90;
}

#menu {
    border-bottom: 3px solid rgb(0, 117, 94);
    padding: 0.3em 0.5em;
    background-color: rgb(3,166,134);
    font-size: 0.8em;
    text-align: left;
}

#wrapper {
    margin: 0;
}

#playing-frame {
    border: none;
    pointer-events: none;
    background: #fff;
}

#panzoom-layer {
    /** DIRTY HACK **/
    /* Even though I disabled pointer-events for #playing-frame, mobile Chrome still detected moving finger
     over #playing-frame as scrolling the site inside of the frame. It didn't even help that we have the
     #panzoom-layer element covering the #playing-frame - the events somehow still came through.
      They stopped to come through once I gave #panzoom-layer some almost-invisible background,
       which is what the line below does. */
    background: rgba(255, 0, 0, 0.01);
    position: absolute;
    top: 0;
    z-index: 10002;
}

#second-visitor-msg-box {
    background: #008098;
    border: 1px solid #176f59;
    color: #fff;
    border-radius: 20px;
    padding: 1em;
    font-size: 1em;
    max-width: 500px;
    position: absolute;
    top: 40px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#s5-subject-left {
    background-color: rgb(3,166,134);
    color: #FAFF40;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    width: 100%;
    font-size: 1em;
}

#copybox2 {
    margin: 0.5em 0;
}

/* recording */

#recording-frame {
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

#createYourOwn {
    display: inline-block;
    font-size: 1em;
    background: #B984C6;
    padding: 0.2em 1em;
    border-radius: 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    color: #FAFF40;
}

#createYourOwn:hover {
    background: #F93A90;
}

#zoominfo, #zoominfo-mobile {
    display: none;
}

#zoominfo-mobile {
    margin-top: 5px;
}

#zoominfo-mobile > input[type="range"] {
    height: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 50em) {

    #add-testspace-wrapper {
        font-size: 1.5em;
    }

    #adding-testspace {
        font-size: 4em;
    }

    #counter {
        font-size: 6em;
    }

    #s3-waiting, #s5-subject-left {
        font-size: 1.3em;
    }

    .info {
        font-size: 1.1em;
        margin-top: 2.5em;
    }
}

@media only screen and (min-width: 80em) {

    #add-testspace-wrapper {
        font-size: 2em;
    }

    #adding-testspace {
        font-size: 6.5em;
    }

    #counter {
        font-size: 10em;
    }

    #s3-waiting, #s5-subject-left {
        font-size: 2.0em;
    }

    .info {
        font-size: 1.3em;
        margin-top: 3.5em;
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
