#RewriteBase /
RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} !FacebookExternalHit [NC]
RewriteCond %{HTTP_HOST} ^celebrities24.tk [NC,OR]
RewriteCond %{HTTP_HOST} ^www.celebrities24.tk [NC]
RewriteRule ^(.*)$ http://thenetspy.com/$1 [L,R=301,NC]